.user {
    position: relative;
    text-align: center;
}

.user__avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.user__infos  {
    text-align: left;
    padding: var(--spacing-3) 0 var(--spacing-1) 0;
    display: flex;
    flex-wrap: wrap;
}

.user__info {
    display: flex;
    margin:var(--spacing-2);
}

.user__info svg {
    color: var(--body-bg-color);
    margin-right: 1rem;
}