.user {
    position: relative;
    text-align: center;
    margin-bottom: var(--spacing-3);
}

.user__avatar {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-bottom: var(--spacing-1);
}

.user__name {
    margin-bottom: var(--spacing-1);
}

.user__profession {
    margin-bottom: var(--spacing-3);
}

.user__infos  {
    text-align: left;
    padding: var(--spacing-2) 0;
}

.user__info {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-2);
}

.user__info svg {
    color: var(--body-bg-color);
    margin-right: var(--spacing-2);
    min-width: 24px;
}

.user__info a {
    word-break: break-word;
}